.dashboard {
    background-color: #333;
}

.dashboard header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 4rem;
    border-bottom: 2px solid #fff;
}

.dashboard .logo h2 {
    color: #fff;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

