.dashboard {
    background-color: #333;
}

.dashboard header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 4rem;
    border-bottom: 2px solid #fff;
}

.dashboard .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard .logo h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-top: -1rem;
    cursor: pointer;
}

.dashboard .logo img {
    height: 3rem;
    width: 4rem;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buttons h2 {
    color: #fff;
    font-size: 0.8rem;
}

.dashboard-main {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid red;
}

.available-activities {
    flex: 1;
}

.available-activities h2, .user-activities h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.available-activities .activity-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.user-activities {
    flex: 1;
    border: 2px solid blue;
}





